<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}


            <label for="NA">Name</label>
            <select name="NA" id="NA">
                {% for i in qswo %}
                <option value="{{i.pk}}">{{i.name}}</option>
                {% endfor %}
            </select><br><br>

            <label for="DT">Date</label>
            <input type="date" name="DT" id="DT"><br><br>

            <label for="AU">Author</label>
            <input type="text" name="AU" id="AU"><br><br>

            <label for="Em">Email</label>
            <input type="text" name="Em" id="Em"><br><br>

            <input type="submit" value="Insert_Accesss">
        </form>
    </center>
</body>
</html>